<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" id="WebApp_ID" version="3.0">
  <display-name>ASWS</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>ServSys</servlet-name>
  	<servlet-class>servlet.ServSys</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServSys</servlet-name>
  	<url-pattern>/Sys/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ServUser</servlet-name>
  	<servlet-class>servlet.ServUser</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServUser</servlet-name>
  	<url-pattern>/User/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ServWeekReport</servlet-name>
  	<servlet-class>servlet.ServWeekReport</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServWeekReport</servlet-name>
  	<url-pattern>/WeekReport/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ServPM</servlet-name>
  	<servlet-class>servlet.ServPM</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServPM</servlet-name>
  	<url-pattern>/ProjectManage/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ServTEM</servlet-name>
  	<servlet-class>servlet.ServTEM</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServTEM</servlet-name>
  	<url-pattern>/TestExecManage/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ALMdoit</servlet-name>
  	<servlet-class>servlet.ALMdoit</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ALMdoit</servlet-name>
  	<url-pattern>/ALM/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ServTestTask</servlet-name>
  	<servlet-class>servlet.ServTestTask</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServTestTask</servlet-name>
  	<url-pattern>/TestTask/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ServTestReport</servlet-name>
  	<servlet-class>servlet.ServTestReport</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServTestReport</servlet-name>
  	<url-pattern>/TestReport/*</url-pattern>
  </servlet-mapping>
  <servlet>
  	<servlet-name>ServPQR</servlet-name>
  	<servlet-class>servlet.ServPQR</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServPQR</servlet-name>
  	<url-pattern>/PQR/*</url-pattern>
  </servlet-mapping>
   <servlet>
  	<servlet-name>ServVMM</servlet-name>
  	<servlet-class>servlet.ServVMM</servlet-class>
  </servlet>
  <servlet-mapping>
  	<servlet-name>ServVMM</servlet-name>
  	<url-pattern>/VMM/*</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>Downloadfile</servlet-name>
    <servlet-class>servlet.Downloadfile</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Downloadfile</servlet-name>
    <url-pattern>/datareport/*</url-pattern>
  </servlet-mapping>
</web-app>